@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,500&family=Figtree:wght@400;500&display=swap');

body{
    background-color: rgb(184, 212, 197);
    font-family: 'Cormorant', serif;
    font-family: 'Figtree', sans-serif;
}



h2, p {
    color:rgb(70, 126, 98);
}

bg-dark {
    background-color: black;
}

footer{
    margin-top: 30px; 
    background-color: rgb(81, 160, 119);
    padding-top: 20px;
}

form {
   
    padding: 3px;
    padding-top: 20px;
  
}

