body{
    background-color: black;
}


h2, p {
    color:purple;
}

bg-dark {
    background-color: black;
}

footer{
    margin-top: 120px; 
    background-color: rgb(81, 160, 119);
    padding-top: 40px;
}

form {
   
    padding: 3px;
    padding-top: 20px;
  
}

